.header
  display: flex
  align-items: center
  justify-content: space-between
  position: fixed
  z-index: 9
  top: 0
  left: 0
  width: 100%
  height: 5vh
  padding: 10px 20px
  color: #ffffff
  background-color: rgba(4, 28, 107, 0.5)
  &__image
    height: 5vh
  &__navbar
  
.navbar
  &__list
.list
  list-style: none
  display: flex
  align-items: center
  margin: 0
  &__item
    padding: 20px 40px
  &__item-link
    color: #ffffff
    font-family: Roboto
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 25px
    letter-spacing: 0.1em
    text-transform: uppercase
    transition: color 0.1s ease-in
    &:hover
      color: #dadada
.log-link
  color: #ffffff
  cursor: pointer
  border: none
  outline: none
  background: none
  padding: 5px 10px
  font-size: 24px
  font-weight: bold
  font-family: Roboto
