$cyan: #00FFFF  

.sidebar
  background: $cyan
  position: relative
  max-width: 225px
  height: 100vh
  display: flex
  justify-content: flex-start
  flex-direction: column
  &_null
    margin: 25px
    background: $cyan

  &-hidden
    width: 100px
    .avatar
      transform: scale(0.4)
    .rater
      display: none
    .socialsButtons
      display: flex
      flex-direction: column
      transform: scale(0.8)
  &__top  
    display: flex
    flex-direction: column
    align-items: center
  &__bottom
    &-button 
      position: absolute
      bottom: 0
      width: 100%
      height: 50px
      background:#66ccff

  .avatar
    margin: 10px 0px
  .socialsButtons

  .ratingButtons

  .avatar 
    margin: 10px

  .userName

  .userLinksButton 
    display: flex
    justify-content: flex-start

  .ant-layout-sider-trigger

    
.dangerButton
  position: absolute
  top: 0px
  right: -100px

.ant-menu-item-icon 
  display: flex
  justify-content: center

.profileIcon
  background: green


ul.profileMenu
  background: none
  border: 0

.hidden
  display: none
