.body
  background-image: url('./background.jpeg')
  height: calc( 100vh - 50px )
  margin-top: 50px
  &__welcome
    position: relative
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)

    border: 5px solid red
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
.welcome
  &__title
    font: bold 90px/44px Roboto
  &__button
    
